.text {
    font-size: 3rem; /* Equivalent to 30px (1rem = 16px) */
    font-family: 'Times New Roman', Times, serif;
}

.h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

  